body {
	background: linear-gradient(to right, rgb(30, 31, 31), rgb(211, 211, 211));
	color: rgb(255, 255, 255);
	margin: 0;
	font-family: rubik;
}

.container {
	padding: 40px;
	margin: 0 auto;
}

.slogan {
	color: white;
	font-family: sans-serif;
	font-size: 2.2rem;
	font-weight: 700;
	margin-top: -4rem;
	text-align: center;
	-webkit-text-stroke: 2px #3a59a8;
}

h1 {
	text-align: center;
	font-size: 90px;
	text-shadow: red -2px 0, cyan 2px 0;
}

.pokedex {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
	grid-gap: 20px;
	padding-inline-start: 0;
}

.card {
	list-style: none;
	padding: 40px;
	color: rgb(0, 0, 0);
	text-align: center;
	border-radius: 20px;
	position: relative;
	cursor: pointer;
}

.card:hover {
	animation: bounce 0.5s linear;
}

.card-title {
	text-transform: capitalize;
	margin-bottom: 0px;
	font-size: 32px;
	font-weight: normal;
	position: relative;
	z-index: 2;
}

.card-subtitle {
	font-size: 1.2rem;
	margin-top: 5px;
	color: rgb(0, 0, 0);
	font-weight: lighter;
	position: relative;
	text-transform: uppercase;
	z-index: 2;
}

.card-image {
	height: 180px;
	position: relative;
	z-index: 2;
}

.card::after {
	content: "";
  display: block;
  width: 50%;
  height: 45%;
  border-radius: 100%;
  background-color: #fff;
  opacity: .7;
  position: absolute;
  top: 15%;
  left: 25%;
}

.steel {
	background-color: #B2B2BF;
}

.fire {
	background-color: #E6390B;
}

.grass {
	background-color: #58a12a;
}

.electric {
	background-color: #e0a720;
}

.water {
	background-color: #277ACE;
}

.ice {
	background-color: #81D8F3;
}

.ground {
	background-color: #917738;
}

.rock {
	background-color: #746839;
}

.fairy {
	background-color: #F5B3F4;
}

.ghost {
	background-color: #58569A;
}

.dark {
	background-color: #34291F;
}

.poison {
	background-color: #814184;
}

.bug {
	background-color: #A8BA20;
}

.dragon {
	background-color: #705BDB;
}

.psychic {
	background-color: #EB487F;
}

.flying {
	background-color: #667EDB;
}

.fighting {
	background-color: #6d2b1e;
}

.normal {
	background-color: #E6E5E3;
}


@keyframes bounce {
	20% {
			transform: translateY(-6px);
	}
	40% {
			transform: translateY(0px);
	}

	80% {
			transform: translateY(-2px);
	}
	100% {
			transform: translateY(0);
	}
}